@import '../../../global/imports.css';

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    padding: 50px;

    background-color: var(--Background-color);

    border-radius: 16px;
}

form h1 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-container {
    width: 400px;

    background-color: var(--Background-color);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}