@import '../../../global/imports.css';

.inputs-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 28px;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;

    position: relative;
}

.input input {
    width: 100%;

    border: 1px solid var(--Neutral-Darkest);
    border-radius: 6px;
    padding: 13px 50px 13px 15px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    color: var(--Neutral-Darkest);

    background-color: var(--Background-color);
    outline: none;
}

.input input::placeholder {
    color: var(--Placeholder-color);
}

.input label {
    padding: 0px 4px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute;

    color: var(--Neutral-Darkest);

    background-color: var(--Background-color);

    left: 3%;
    top: -5px;
}

.input i {
    position: absolute;
    right: 4%;
    top: 12px;

    font-size: 24px;

    cursor: pointer;
}

.error {
    position: absolute;
    bottom: -15px;
    display: none;

    font-size: 12px;
    font-weight: 600;

    color: var(--Error);
}

.display-error {
    display: block;
}