@import '../../../global/imports.css';

.terms-container {
    width: 100%;
    position: relative;

    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.terms-container p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    text-align: center;
}

.terms-container p a {
    color: var(--Cyan);
    cursor: pointer;
}