@import './partials/buttons.css';
@import './partials/terms.css';
@import './partials/inputs.css';
@import './partials/forms.css';
@import './partials/responsive.css';

body {
    width: 100%;
    height: 100vh;

    background-color: var(--Body-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 80%;
    max-width: 1094px;
    margin: 0px 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

main img {
    width: 293px;
}